 /* #2196f3 */
/* #ff64de */


.question-text {
  font-size: 300%;
  color: #FFF;
  padding: 3%;
  text-align: center;
}

.answer-container,
.question-container {
  margin: 2% 0% 2% 0%;
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.answer-container {
  border-radius: 50px;
  background-color: #ff64de;
}

.answer-container:hover {
  cursor: pointer;
}

.question-container {
  height: 200px;
  width: 90%;
  border-radius: 50px;
}

.answer-text,
.question-text {
  font-size: 230%;
  color: #000;
}

.submit-answer-button {
  width: 90%;
  height: 100px;
  border-radius: 50px;
  font-size: 200%;
  margin: 5%;
  background-color: #fff200;
  border: none;
}

.submit-answer-button:hover {
  cursor: pointer;
}

.round-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
