.answer-button,
.question-container {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  margin: 2% 0% 2% 0%;
  width: 65%;
}

.answer-button {
  border: none;
  font-size: 110%;
}

.answer-button {
  background-color: #ff64de;
  border-radius: 20px;
}

.answer-button:hover {
  cursor: pointer;
  border: 5px solid #fff200;
  color: #FFF;
}

.question-container {
  margin-top: 30px;
  height: auto;
  width: 90%;
}

.question-text {
  font-size: 120%;
  padding: 1%;
  text-align: center;
}

.submit-answer-button {
  background-color: #fff200;
  border-radius: 20px;
  border: none;
  font-size: 110%;
  height: 40px;
  text-transform: uppercase;
  width: 65%;
}

.submit-answer-button:hover {
  background-color: #ff64de;
  color: #FFF;
  cursor: pointer;
}

.round {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active-button {
  border: 5px solid #fff200;
  color: #FFF;
}

.round-error-message {
  color: #fff200;
  font-size: 100%;
}

@media only screen and (max-width: 490px) {

  .answer-button,
  .question-container {
    height: 40px;
    font-size: 90%;
  }

  .submit-answer-button {
    height: 40px;
    font-size: 90%;
  }

  .question-text {
    font-size: 100%;
  }

}
