 /* #2196f3 */
/* #ff64de */

.answer-button,
.question-container {
  margin: 2% 0% 2% 0%;
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.answer-button {
  font-size: 210%;
  border: none;
}

.answer-button {
  border-radius: 50px;
  background-color: #ff64de;
  /* box-shadow:  0px 0px 50px 5px #9b00ffd9 inset; */
}

.answer-button:hover {
  cursor: pointer;
}

.question-container {
  height: 200px;
  width: 90%;
  border-radius: 50px;
}

.question-text {
  font-size: 250%;
  padding: 3%;
  text-align: center;
  height: auto;
}

.submit-answer-button {
  width: 90%;
  height: 100px;
  border-radius: 50px;
  font-size: 200%;
  margin: 5%;
  background-color: #fff200;
  border: none;
}

.submit-answer-button:hover {
  cursor: pointer;
}

.round{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-button {
  border: 5px solid #fff200;
  color: #FFF;
}
