.result-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result-text{
  font-size: 300%;
  text-transform: uppercase;
}

.new-game-button {
  width: 90%;
  height: 100px;
  font-size: 300%;
  border-radius: 50px;
  border: none;
  margin-top: 10%;
  background-color: #fff200;
  text-transform: uppercase;
}

.new-game-button:hover {
  cursor: pointer;
}

#user-input {
  color: #fff200;
}
