.result-contianer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 88%;
  padding-top: 30px;
}

.result-text {
  font-size: 150%;
  margin: 1%;
  text-transform: uppercase;
}

.new-game-button {
  background-color: #fff200;
  border: none;
  font-size: 110%;
  height: 40px;
  border-radius: 20px;
  margin: 10% 0%;
  text-transform: uppercase;
  width: 200px;
}

.new-game-button:hover {
  background-color: #ff64de;
  color: #FFF;
  cursor: pointer;
}

#user-input {
  color: #fff200;
}

.missed-question-outer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
  padding-top: 10px 10px 0px 10px;
}

.missed-question-container {
  background-color: #ff64de;
  border-radius: 20px;
  height: auto;
  margin: 3%;
  width: 70%;
}

.missed-question-text {
  font-size: 100%;
  padding: 1%;
  text-align: center;
}

.missed-question-data {
  color: #fff200;
}

@media only screen and (max-width: 490px) {

  .result-text {
    font-size: 90%;
  }

  .missed-question-text {
    font-size: 90%;
  }

  .new-game-button {
    font-size: 90%;
    height: 40px;
    border-radius: 20px;
  }

  .result-contianer {
    height: 85%;
  }

}
