.result-contianer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
}

.result-text{
  font-size: 300%;
  margin: 1%;
  text-transform: uppercase;
}

.new-game-button {
  background-color: #fff200;
  border-radius: 50px;
  border: none;
  font-size: 300%;
  height: 100px;
  margin-top: 10%;
  text-transform: uppercase;
  width: 527px;
}

.new-game-button:hover {
  cursor: pointer;
}

#user-input {
  color: #fff200;
}

.missed-question-outer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow-y: scroll;
  padding: 5%;
}

.missed-question-container {
  background-color: #ff64de;
  border-radius: 20px;
  height: auto;
  margin: 3%;
  width: 85%;
}

.missed-question-text {
  font-size: 200%;
  padding: 2%;
  text-align: center;
}

.missed-question-data {
  color: #fff200;
}
