#outer-div {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#game-container {
  background-color: #03a9f4;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 1334px;
  width: 750px;
}
