#outer-div {
  align-items: center;
  background-color: #000;
  background: center/100% url(../../assets/liquid_background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#game-container {
  background-color: #03a9f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
}

@media only screen and (max-width: 490px) {

  #game-container {
    width: 100%;
    height: 100%;
  }

}
