* {
  font-family: Fredoka One;
  font-weight: lighter;
}

#large-logo {
  height: 300px;
  margin-left: 5%;
  width: 400px;
}

#trivia-text {
  color: #ff64de;
  font-size: 400%;
  font-weight: bolder;
  text-shadow: 3px 3px 3px #fff200;
}

#intro-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#difficulty-dropbox,
#start-game-button,
#name-input {
  border-radius: 50px;
  font-size: 200%;
  height: 100px;
  margin: 2% 0% 2% 0%;
  padding-left: 5%;
  text-align: center;
  width: 500px;
}

#name-input {
  padding: 0%;
  width: 520px;
  margin-top: 8%;
}

#start-game-button {
  background-color: #fff200;
  border: none;
  padding: 0%;
  text-transform: uppercase;
  width: 527px;
  color: #ff64de;
}

#start-game-button:hover,
#difficulty-dropbox:hover {
  cursor: pointer;
}

#difficulty-text {
  font-size: 200%;
  color: #fff200;
}

#difficulty-dropbox {
  height: 60px;
  margin-left: 6%;
  text-transform: lowercase;
  width: 200px;
}

#difficulty-dropbox-container {
  align-items: center;
  display: flex;
}

#my-name {
  font-size: 200%;
  color: #fff200;
  margin: -7% 0% 2% 0%;
}
