* {
  font-family: Fredoka One;
  font-weight: lighter;
}

#large-logo {
  height: 300px;
  width: 400px;
}

#temp-logo {
  font-size: 300%;
}

#intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#difficulty-dropbox,
#start-game-button,
#name-input {
  width: 500px;
  height: 100px;
  padding-left: 5%;
  font-size: 200%;
  margin: 2% 0% 2% 0%;
  border-radius: 50px;
  text-align: center;
}

#name-input {
  padding: 0%;
  width: 520px;
}

#difficulty-dropbox {
  width: 527px;
}

#start-game-button {
  width: 527px;
  background-color: #fff200;
  padding: 0%;
  border: none;
}

#start-game-button:hover,
#difficulty-dropbox:hover {
  cursor: pointer;
}
