.response-contianer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  text-align: center;
}

.response-text {
  color: #fff200;
  font-size: 300%;
  transform: rotate(-20deg);
}

@media only screen and (max-width: 490px) {

  .response-text {
    font-size: 200%;
  }

}
