.response-contianer {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.response-text {
  font-size: 600%;
  color: #fff200;
  transform: rotate(-20deg);
}
