#header-container {
  align-items: center;
  background-color: #fff200;
  display: flex;
  height: 12%;
  justify-content: space-around;
  width: 100%;
}

#nav-logo {
  height: 70px;
  width: 80px;
}

#score-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#question-tally {
  font-size: 120%;
  margin-bottom: -10px;
}

#score-tally {
  font-size: 120%;
}

#correct-answers {
  color: #03a9f4;
  margin-right: 8px;
}

#incorrect-answers {
  color: #ff64de;
  margin-left: 8px;
}

#difficulty-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#difficulty-heading,
#difficulty-rating {
  font-size: 120%;
}

#difficulty-rating {
  margin-top: -15%;
}

@media only screen and (max-width: 490px) {

  #difficulty-heading,
  #difficulty-rating {
    font-size: 90%;
  }

  #score-tally {
    font-size: 90%;
  }

  #question-tally {
    font-size: 90%;
  }

  #header-container {
    height: 15%;
  }

}
